.nav {
  overflow: scroll;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;

  padding: 1em;
  background: #eee;
  min-width: 12em;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .nav {
    height: 0;
    overflow: hidden;
    display: none;
  }
}
@media (min-width: 768px) {
  .nav {
    position: sticky;
    max-height: 100vh;
    top: 0;
  }
}

.navMobileShow {
  height: 100%;
  display: flex;
}

.flexcol {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
